html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

p.SKILL {
	transform: scaleX(-1);
}

p.PAUSE {
	transform: rotate(90deg);
}

p.action {
	position: absolute;
	width: 64px;
	height: 64px;
	line-height: 64px;
	margin: 0;
	font-size: 48px;
	color: white;
	text-align: center;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
}

div.drum-kit {
	width: 438px;
	height: 312px;
	position: absolute;
}

div.base-drum {
	background-image: url('./img/drums/base.png');
}

div.bass-drum {
	background-image: url('./img/drums/bass.png');
}

div.crash1-drum {
	background-image: url('./img/drums/crash1.png');
}

div.crash2-drum {
	background-image: url('./img/drums/crash2.png');
}

div.hihat-pedal-drum {
	background-image: url('./img/drums/hihat-pedal.png');
}

div.hihat-drum {
	background-image: url('./img/drums/hihat.png');
}

div.ride-drum {
	background-image: url('./img/drums/ride.png');
}

div.snare-drum {
	background-image: url('./img/drums/snare.png');
}

div.tom1-drum {
	background-image: url('./img/drums/tom1.png');
}

div.tom2-drum {
	background-image: url('./img/drums/tom2.png');
}

div.tom3-drum {
	background-image: url('./img/drums/tom3.png');
}

div.tom4-drum {
	background-image: url('./img/drums/tom4.png');
}

div.base-key {
	width: 196px;
	height: 276px;
	position: absolute;
}

div.keys {
	position: absolute;
	left: 446px;
	top: 18px;
	background-image: url('./img/keys/base.png');
}

div.attack-key {
	background-image: url('./img/keys/attack.png');
}

div.skill-key {
	background-image: url('./img/keys/skill.png');
}

div.spell-key {
	background-image: url('./img/keys/spell.png');
}

div.jump-key {
	background-image: url('./img/keys/jump.png');
}

div.swap-key {
	background-image: url('./img/keys/swap.png');
}

div.pause-key {
	background-image: url('./img/keys/pause.png');
}

div.up-key {
	background-image: url('./img/keys/up.png');
}

div.down-key {
	background-image: url('./img/keys/down.png');
}

div.left-key {
	background-image: url('./img/keys/left.png');
}

div.right-key {
	background-image: url('./img/keys/right.png');
}
